@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
  user-select: none;
}

#image-track>.image {
  width: 56vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
  cursor: pointer;
}

#scroll-message {
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
}

#scroll-message.show {
  opacity: 0.7;
}

#scroll-message::before {
  content: "Scroll or Drag to Pan";
  /* Default content for non-mobile devices */
}

@media (max-width: 768px) {
  #scroll-message::before {
    content: "Swipe to Pan";
    /* Content for mobile devices */
  }
}

#percentage-meter-container {
  width: 100%;
  background-color: black;
  height: 2px;
  position: fixed;
  bottom: 0;
  overflow: hidden;
}

#percentage-meter {
  height: 100%;
  background-color: lightgrey;
  width: 50px;
  position: absolute;
  left: 0%;
  transition: left 1s ease-out;
}