/* overlay.css */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: none;
  justify-content: center;
  align-items: flex-start;
  opacity: 0;
  transition: opacity 0.5s ease;
  overflow-y: auto;
  z-index: 9997;
  display: none;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.overlay.show {
  opacity: 1;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  overflow-y: auto;
}

.overlay img {
  max-height: 90vh;
  max-width: 100%;
  object-fit: contain;
  transition: transform 0.5s ease;
  margin-bottom: 20px;
}

.image-details {
  color: #fff;
  text-align: center;
  padding: 0 10%;
  margin: 0 auto;
}

#close-overlay {
  position: absolute;
  top: 20px;
  right: 55px;
  color: #fff;
  font-size: 40px;
  cursor: pointer;
}

.section {
  display: flex;
  align-items: center;
  margin: 40px auto;
  /* Space between sections */
  justify-content: center;
}

.section.with-image {
  justify-content: space-between;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-container {
  flex-shrink: 0;
  margin: 0 20px;
  order: 0;
  margin-bottom: 15px;
  max-width: 40%;
}

.image-container.left {
  order: -1;
  width: 50vw;
  height: auto;
}

model-viewer {
  width: 100%;
  height: 500px;
}

/* Text */

.section .text-content {
  width: auto;
  max-width: 65vw;
  justify-items: center;
}

.section.with-image .text-content {
  max-width: 36vw;
}

.section p {
  font-size: 1.4vw;
}

.section h1 {
  font-size: 2.7vw;
}

.section h3 {
  font-size: 1.8vw;
}


/* Logo Fade */

.image-container.right.diag-fade {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 500px;
  overflow: hidden;
}

.image-container.right.diag-fade img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Center the image */
  transition: opacity 0.5s ease-in-out, clip-path 0.5s ease-in-out;
}

.bottom-image {
  z-index: 9998;
}

.top-image {
  z-index: 9999;
  opacity: 0;
  clip-path: polygon(0 0, 0% 0, 0 0%, 0 100%);
}

.image-container.right.diag-fade:hover .top-image {
  opacity: 1;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}


.image-container.right.diag-fade,
.image-container.right.diag-fade img {
  margin: 0;
  padding: 0;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .section {
    flex-direction: column;
    align-items: center;
  }

  .image-container,
  .image-container.left {
    margin-top: 25px;
    margin-bottom: 0px;
    height: auto;
    order: 0;
  }

  .section p {
    font-size: 4.8vw;
  }

  .section h1 {
    font-size: 7vw;
  }

  .section h3 {
    font-size: 5.6vw;
  }

  .section.with-image .text-content,
  .image-container {
    max-width: 65vw;
  }

  .image-container.left iframe,
  .image-container iframe {
    width: 100%;
    height: 40vh;
    max-width: 100%;
  }
}